input[type="text"].nav-search{
  height: 1.9125rem;
  margin:0;
}

.index-title{
  margin:1rem 0 0 0;
  border-bottom: none;
}

#forum-index{
  margin: 0;
  background-color: white;
}

@media only screen and (max-width: 350px) {
  a{
    font-size: 0.9rem;
  }
}

footer{
  background: #333333;
  height: 90px;
  padding-top:30px;
}

footer .row a{
  color: #666666;
  line-height: 33px;
}


.logo{
  float: left;
  font-size: 2em;
  font-weight: bold;
  color: #666666;
  padding-right: 1.5rem;
}